<main class="bg-black/70 w-full h-screen flex flex-col items-center justify-center">
  <div class="text-center text-white p-6 max-w-xl bg-[#143d73] bg-opacity-60 rounded-xl shadow-xl">
  <h1 class="text-3xl font-bold mb-4">Precisando de Reparos em Casa?</h1>
  <p class="mb-4 text-lg">
    Dedetização, serviços hidráulicos, limpeza de ar condicionado, caixa d’água e calhas em Goiânia e região.
  </p>
  <p class="mb-6 text-yellow-400 font-semibold">10% de desconto no 1º serviço!</p>
  <a href="https://wa.me/5562984076448" target="_blank"
    class="inline-block bg-green-500 hover:bg-green-600 text-white font-bold py-3 px-6 rounded-full transition">
    Chamar no WhatsApp
  </a>
</div>
</main>