<main class="bg-black/90 w-full h-screen flex flex-col items-center">
	<div class="text-center text-white w-[580px] pt-16 pb-10 px-6">
		<div class="flex flex-col items-center w-full text-lg mb-8">
			<img
				class="bg-white mb-10 rounded-full w-[96px] h-[96px] object-contain p-1"
				src="./images/favicon.png"
				width="96px"
				height="96px"
				alt="Logo Combate Service"
			/>
			<div class="flex flex-col items-center gap-0.5 mb-6">
				<span class="font-bold text-2xl">Combate Service</span>
				<a target="_blank" href="https://maps.app.goo.gl/Aks5PdsBBW8dYCJF8" class="flex items-center text-sm gap-1">
					<i>{% include "svgPin.njk" %}</i>
					<span class="font-medium">Goiânia e região</span>
				</a>
			</div>
			<div class="flex flex-col w-fit">
				<div class="flex items-center gap-2">
					<i>{% include "svgDedetizar.njk" %}</i>
					<span>Dedetização</span>
				</div>
				<div class="flex items-center gap-2">
					<i>{% include "svgDesentupidor.njk" %}</i>
					<span>Desentupidora</span>
				</div>
				<div class="flex items-center gap-2">
					<i>{% include "svgLimpeza.njk" %}</i>
					<span>Limpeza de ar condicionado</span>
				</div>
				<div class="flex items-center gap-2">
					<i>{% include "svgCalha.njk" %}</i>
					<span>Limpeza de caixa d’água e calhas</span>
				</div>
			</div>
		</div>
		<a
			id="btn1"
			target="_blank"
			class="flex items-center justify-center rounded-[30px] w-full h-auto min-h-16 px-11 bg-[#2452A2] text-white border-2 border-solid border-[#2452A2] transition hover:bg-transparent hover:text-white"
			href="{{ whatsapp }}"
		>
			<span class="text-xl md:font-normal font-bold">Clique e Chame no WhatsApp</span>
		</a>
		<a id="btn2" href="{{ whatsapp }}" target="_blank" class="text-yellow-400 text-xs underline font-medium mt-1">10% de desconto no 1º serviço!</a>
	</div>
</main>
