<!DOCTYPE html>
<html amp lang="pt-br">

<head>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TSSZPLBD');</script>
  <!-- End Google Tag Manager -->
  {% include "seo.njk" %}
  <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "Combate Service",
        "url": "https://combateservice.netlify.app/",
        "description": "A Combate Service é especialista em dedetização, limpeza de ar-condicionado, caixa d'água, calhas e serviços hidráulicos em Goiânia e região. Solicite orçamento e mantenha sua casa protegida e limpa.", 
        "inLanguage": "pt-BR"
      }
    </script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen" />
</head>

<body
  class="min-h-screen flex items-center justify-center bg-[url(/images/banner-home.avif)] bg-cover bg-center bg-no-repeat bg-blend-multiply relative">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TSSZPLBD" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  {{ content | safe }}
  <footer class="absolute bottom-0 text-center text-white">
    <span class="sm:text-sm text-xs text-stone-400">
      <p>© 2025 Combate Service</p>
      <p>CNPJ: 61.229.645/0001-95 - Razão Social: 61.229.645 TIAGO FRANCISCO DE PAULA</p>
      <p><a href="/privacidade/" class="underline hover:text-white">Política de Privacidade</a></p>
    </span>
  </footer>

</body>

</html>