<!DOCTYPE html>
<html amp lang="pt-br">

<head>
  {% include "seo.njk" %}
  <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "IPTV: A Melhor Lista IPTV de 2025 - Assine IPTV All Movies",
        "url": "https://allmovies.netlify.app/",
        "description": "Experimente o Teste IPTV com sistema anti-travas e aproveite uma experiência de entretenimento fluida e de alta qualidade.", 
        "inLanguage": "pt-BR"
      }
    </script>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen" />
</head>

<body class="min-h-screen flex items-center justify-center bg-[url(/images/banner-home.avif)] bg-cover bg-center bg-no-repeat bg-blend-multiply">
  {{ content | safe }}
</body>

</html>